{% extends "base.html" %}
{% block title %}About Us{% endblock title %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
        <h1 class="text-primary">About Us</h1>
        <h3 class="mt-3 ">Welcome to SHOP CART </h3> 
        <div class="lead">your go-to destination for premium audio gear. Whether you're a music lover, a professional audiophile, or someone looking for the perfect pair of headphones, we have got you covered.At SHOP CART, we believe in the power of sound. Our journey started with a passion for high-quality audio and a desire to provide headphones that deliver exceptional sound experiences. We are dedicated to curating a diverse collection of headphones, earphones, and audio accessories from leading brands, ensuring you get the best in comfort, performance, and style.</div>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row mt-5">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
        <h2>Why Shop With Us?</h2>
        
        <div>
            Curated Collection: We offer a handpicked selection of top-quality headphones and audio gear from the best brands.<br>
            Expert Advice: Our team of audio experts is here to guide you, whether you need help choosing the right product or understanding the latest technology.<br>
            Customer-Centric Service: From browsing to checkout, we focus on making your experience smooth and enjoyable, offering fast shipping and hassle-free returns.<br>
            Competitive Prices: Get the best audio products without breaking the bank, with frequent deals and exclusive offers.<br>
        </div>
        <div class="col-sm-1"></div>
    </div>


    <div class="row mt-5">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
        <h3>Our Mission</h3>
        <div>
        Our mission is simple: to help you experience sound like never before.we provide products that blend innovation with comfort. We strive to create a seamless shopping experience and support you in finding the perfect audio solution for your unique lifestyle.</div>
        </div>
        <div class="col-sm-4">
        <h3>Our Values</h3>
        At SHOP CART, we believe in:<br>
        Quality: We only offer products that meet our high standards.<br>
        Innovation: We are constantly exploring new technologies to improve your listening experience.<br>
        Sustainability: We aim to be eco-conscious in everything we do, from product sourcing to packaging.<br>
        </div>
        <div class="col-sm-3">
        <h3>Our Promise</h3>    
We are committed to providing top-notch customer service, ensuring that every product you purchase meets the highest standards of quality. Your satisfaction is our top priority, and we are always here to assist you with any questions or concerns.<br>
Thank you for choosing SHOP CART
        </div>
        <div class="col-sm-1"></div>
    </div>



</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock content%}