{% extends "base.html" %}
{%load static%}
{% block title %}Home{% endblock title %}


{% block content %}
{% load static %}
<style>
  .topproducts{
    background-color: wheat;
  }
  
 
  </style>
 <div class="container topproducts my-5 p-3">
  <h2 class="mb-4">Top Products</h2>

  <div id="productCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <!-- First Slide with Two Cards -->
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="https://m.media-amazon.com/images/I/51t132kBEcL.jpg" class="card-img" >
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Boat Imortal 121</h5>
                    <p class="card-text">Beast Mode(40ms Low Latency) for Gaming, 40H Playtime, Blazing LEDs, Quad Mics ENx Signature Sound, ASAP Charge(10 Mins= 180 Mins)(Black Sabre)</p>
                    <p class="card-text"><small class="text-muted">Price: 999 RS</small></p>
                    <a href="{% url 'productview' 3 %}" class="btn  btn-primary">View Product </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="https://m.media-amazon.com/images/I/61LuTKQUDwL.jpg" class="card-img" alt="Apple Buds">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">boAt Rockerz 450R </h5>
                    <p class="card-text">Headphone with 40mm premium drivers, Easy Operation.al Controls, HD Immersive Audio (Aqua Blue)Up to 15 Hours of Audio Excellence.</p>
                    <p class="card-text"><small class="text-muted">Price: 1699 RS</small></p>
                     <a href="{% url 'productview' 11 %}" class="btn  btn-primary">View Product </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <!-- Second Slide with Two Cards -->
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="https://ptron.in/cdn/shop/files/B0CNZDYTXQ.MAIN_1024x1024.jpg?v=1709619298" class="card-img" alt="Apple Buds">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">pTron Bassbuds</h5>
                    <p class="card-text">Immersive Sound, 32Hrs Playtime, Clear Calls Tws Earbuds, Bluetooth V5.1 Headphones, Type-C Fast Charging, Voice Assistant & Ipx4 Water Resistant (Grey)</p>
                    <p class="card-text"><small class="text-muted">Price: 599 Rs</small></p>
                     <a href="{% url 'productview' 8 %}" class="btn  btn-primary">View Product </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIS4XhhRrg2O8-N5K6fU6Md5YhalQce0uVww&s" class="card-img" alt="Apple Buds">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Zebronics Zeb-Evolve Grey Neckband</h5>
                    <p class="card-text">Voice Assistant & Magnetic Earpiece. Rapid Charging, Controls for Media/Volume/Call Function & With a Neckband Design. Comfortable & Secure Fit.</p>
                    <p class="card-text"><small class="text-muted">Price: 575 Rs</small></p>
                     <a href="{% url 'productview' 15 %}" class="btn  btn-primary">View Product </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    
    <!-- Carousel Controls -->
    <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>






  <section id="portfolio" class="portfolio">
    <div class="container">
      
      {% for message in messages %}
      <div class="alert alert{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label = "Close"></button>
      </div>
      {% endfor %}

      <div class="text-center mt-2">
        <h2 >Welcome to Shop Cart</h2>
        <h3>Check our <span>products</span></h3>
      </div>



      {% for product, range , nslides in allProds %}
      
      <h3 class="my-3 text-center text-success bg-light">{{product.0.category}} Flashsale </h3>
      

      <div class="container">
        <div class="row">
          {% for i in product %}
          <div class="col-md-3 col-sm-6 mt-3">

          <img src="{{i.image}}" class="card-img-top" alt="Not found" height="220px" width="150px"/>

          <div class="card-body">

          <h5 class="card-title mt-2" id="namepr{{i.id}}">{{i.product_name}}</h5>
          <!--- id is used to js file-->
          <p class="card-text">{{i.desc|slice:"0:43" }}...</p>
          <h6 class="card-title mb-3"> Price <span id="pricepr{{i.id}}">{{i.price}}</span></h6>
          <span id="divpr{{i.id}}" class="divpr">
            <button  id="pr{{i.id}}" class="btn btn-success cart btn-sm mt-0 addtocart">AddToCart</button>
          </span>

           <!-- ✅ THIS IS THE KEY LINE -->
        <a href="{% url 'productview' i.id %}" class="btn btn-sm btn-primary">
          View
        </a>

          </div>


          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
  

    </div>
  </section>



  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  <script>
  
    var isUserLoggedIn = "{{ request.user.is_authenticated }}" === "True";



    console.log("HEllo");
  
    if(localStorage.getItem('cart') == null){
      var cart = {};
    }else{
      cart = JSON.parse(localStorage.getItem('cart'));                     //accseing local storage
      updateCart(cart);
    }
  
  
  
    //$('.addtocart').click(function(){  
    $('.divpr').on('click', 'button.cart', function(){                                       //$ - selector in jquery


      
      if (!isUserLoggedIn) {
        // clear cart just in case
        localStorage.removeItem('cart');

        // redirect to login page
        alert("Please login first to add product to cart...!")
        window.location.href = "/auth/login/?next=/";
        return;
      }


    console.log("clicked");
    var idstr = this.id.toString();
    
    if(cart[idstr] != undefined){                                        //if cart for that id already exist then increment 
      qty = cart[idstr][0] + 1;
  
    }
    else{
      qty = 1;                                                      //if id is null then create cartlistqty,name,price
      name = document.getElementById('name' + idstr).innerHTML;
      price = document.getElementById('price' + idstr).innerHTML;
      //price = document.getElementById('price' + idstr).innerHTML; 
      cart[idstr] = [qty, name , parseInt(price)];
    }
  
    updateCart(cart);
   
    });
  
  
  
    function updateCart(cart) {
      console.log(cart);
      for(var item in cart){
        document.getElementById('div'+ item).innerHTML = "<button id='minus" + item + "'class='btn btn-success minus'> - </button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item +"'class='btn btn-success plus'> + </button>";
      }
  
      localStorage.setItem('cart', JSON.stringify(cart));                  //stroing local  strorage as a string
      document.getElementById('cart').innerHTML = Object.keys(cart).length;
     
    }
  
  
  
    //if plus or minus button is clicked , change the cart as well as display value
    $('.divpr').on("click", "button.minus", function() {
    //console.log("minus clicked");
    //a = this.id;
    //console.log(a);   :- gives minuspr1 minuspr2 as op. but we want only pr1 pr2 , so we use slice
    a = this.id.slice(7, );
    cart['pr' + a][0] = cart['pr'+a][0] - 1;
    cart['pr' + a][0] = Math.max(0,cart['pr'+a][0]);                //not go to negative count
    document.getElementById('valpr'+a).innerHTML = cart['pr'+a][0];
    updateCart(cart);
    });
  
  

  
    $('.divpr').on("click", "button.plus", function() {
    //console.log("plus clicked");
    a = this.id.slice(6, );
    cart['pr' + a][0] = cart['pr'+a][0] + 1;
    document.getElementById('valpr'+a).innerHTML = cart['pr'+a][0];
    updateCart(cart);
    });
  

    
  function clearCartOnLogout() {
    localStorage.removeItem('cart');
    localStorage.clear();   // optional but safe
  }


  </script>

{% endblock content %} 


